version: 2.1
orbs:
  node: circleci/node@latest
jobs:
  build-and-test:
    docker:
      - image: circleci/node:latest
        environment:
          NODE_ENV: development
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: npm install
            - run: npm test
workflows:
    build-and-test:
      jobs:
        - build-and-test