:root {
  --tsg-font-family: 'Calibri', sans-serif;
  --tsg-table-border-color: lightgray;
  --tsg-header-height: 60px;
  --tsg-row-height: 40px;
  --tsg-row-nesting-indent: 20px;
  --tsg-max-cell-text-rows: 2;
  --tsg-line-height: 16px;
  --tsg-font-size: 14px;
}

.tsg-wrapper {  
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tsg-separator {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 5px;
  padding: 0;
  cursor: ew-resize;
  background-color: black;
}

.tsg-table-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.tsg-table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  font-family: var(--tsg-font-family);
}

.tsg-table thead tr {
  box-sizing: border-box;
  height: var(--tsg-header-height) !important;
}

.tsg-table thead th {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: var(--tsg-table-border-color);
  z-index: 5;
}

.tsg-table tbody tr {
  box-sizing: border-box;
  height: var(--tsg-row-height) !important;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--tsg-table-border-color);
}

.tsg-table tbody td {
  box-sizing: border-box;
  min-width: 100px;
  padding: 0;
}

.tsg-cell-text-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: calc(var(--tsg-row-height) - 2px);
  padding: 2px;
}
.tsg-cell-text {
  overflow: hidden;
  position: relative; 
  text-align: justify;  
  max-height: calc(var(--tsg-max-cell-text-rows) * var(--tsg-line-height)); 
  font-size: var(--tsg-font-size);
  line-height: var(--tsg-line-height);
  margin-right: 0px;
  padding-right: var(--tsg-line-height);
}
.tsg-cell-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.tsg-cell-text:after {
  content: '';
  position: absolute;
  right: 0;
  width: var(--tsg-line-height);
  height: var(--tsg-line-height);
  margin-top: 3px;
  background-color: white;
}

.tsg-chart-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.tsg-chart {
  box-sizing: border-box;
  flex: 1 1 auto;
}