:root {
  --tsg-table-min-width: 100px;
  --tsg-chart-min-width: 100px;
  --tsg-nesting-indent: 20px;

  --tsg-background-color: white;
  --tsg-foreground-color: black;
  --tsg-separator-color: dimgray;
  --tsg-header-color: ghostwhite;
  --tsg-border-color: lightgray;
  --tsg-symbol-color: dimgray;
  --tsg-selection-color: ghostwhite;

  --tsg-not-started-fg-color: dimgray;
  --tsg-in-progress-fg-color: black;
  --tsg-overdue-fg-color: darkred;
  --tsg-completed-fg-color: darkgreen;
  --tsg-completed-late-fg-color: sienna;

  --tsg-today-line-color: orangered;  
  --tsg-chart-bar-color-1: skyblue;
  --tsg-chart-bar-color-2: lightcoral;
  --tsg-chart-bar-accent-1: darkcyan;
  --tsg-chart-bar-accent-2: darkred;  

  --tsg-font-family: 'Calibri', sans-serif;
  --tsg-font-size: 14px;
  --tsg-line-height: 16px;
  --tsg-max-cell-text-lines: 2;
}

.tsg-wrapper {  
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--tsg-background-color);
}

.tsg-wrapper * {
  box-sizing: border-box;
}

.tsg-separator {
  display: flex;
  flex: 0 0 auto;
  width: var(--tsg-separator-width);
  height: 100%;
  padding: 0;
  cursor: ew-resize;
  background-color: var(--tsg-separator-color);
}

.tsg-table-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 5px);
  height: 100%;
  min-width: var(--tsg-table-min-width);
  overflow-y: auto;
  overflow-x: scroll;
}

.tsg-table {
  width: 100%;
  border-spacing: 0;
  font-family: var(--tsg-font-family);
  color: var(--tsg-foreground-color);
}

.tsg-table thead tr {
  height: var(--tsg-header-height) !important;
}
.tsg-table thead th {
  position: sticky;
  top: 0;
  padding: 5px;
  border-width: 0 var(--tsg-gridlines-width) var(--tsg-gridlines-width) 0;
  border-color: var(--tsg-border-color);
  border-style: solid;
  background-color: var(--tsg-header-color);
  z-index: 5;
}

.tsg-table tbody tr {
  height: var(--tsg-row-height) !important;
}
.tsg-table tbody tr.selected {
  background-color: var(--tsg-selection-color);
}
.tsg-table tbody tr.selected td {
  font-weight: bold;
}
.tsg-table tbody tr.not-started td {
  color: var(--tsg-not-started-fg-color);
}
.tsg-table tbody tr.in-progress td {
  color: var(--tsg-in-progress-fg-color);
}
.tsg-table tbody tr.overdue td {
  color: var(--tsg-overdue-fg-color);
}
.tsg-table tbody tr.completed td {
  color: var(--tsg-completed-fg-color);
}
.tsg-table tbody tr.completed-late td {
  color: var(--tsg-completed-late-fg-color);
}

.tsg-table tbody td {
  padding: 0;
  cursor: default;
  border-width: 0 var(--tsg-gridlines-width) var(--tsg-gridlines-width) 0;
  border-color: var(--tsg-border-color);
  border-style: solid;
}

.tsg-cell-text-wrapper {
  display: flex;
  align-items: center;
  height: calc(var(--tsg-row-height) - 2px);
  padding: 2px;
}
.tsg-cell-text-wrapper.start {
  justify-content: flex-start;
}
.tsg-cell-text-wrapper.center {
  justify-content: center;
}
.tsg-cell-text-wrapper.end {
  justify-content: flex-end;
}

.tsg-cell-text-indent {
  width: var(--tsg-nesting-indent) !important;
  min-width: var(--tsg-nesting-indent) !important;
  color: var(--tsg-symbol-color);
  text-align: center;
}
.tsg-cell-text-expander {
  width: var(--tsg-nesting-indent) !important;
  min-width: var(--tsg-nesting-indent) !important;
  color: var(--tsg-symbol-color);
  text-align: center;
  cursor: pointer;
}

.tsg-cell-text {
  overflow: hidden;
  position: relative;  
  margin-right: 0px;
  max-height: calc(var(--tsg-max-cell-text-lines) * var(--tsg-line-height)); 
  padding-right: var(--tsg-line-height);
  font-size: var(--tsg-font-size);
  line-height: var(--tsg-line-height);
  text-align: justify; 
}
.tsg-cell-text:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}
.tsg-cell-text:after {
  content: '';
  position: absolute;
  right: 0;
  margin-top: 3px;
  width: var(--tsg-line-height);
  height: var(--tsg-line-height);
  background-color: var(--tsg-background-color);
}
tr.selected .tsg-cell-text:after {
  content: '';
  position: absolute;
  right: 0;
  margin-top: 3px;
  width: var(--tsg-line-height);
  height: var(--tsg-line-height);
  background-color: var(--tsg-selection-color);
}

.tsg-chart-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  min-width: var(--tsg-chart-min-width);
  overflow-y: auto;
  overflow-x: scroll;
}

.tsg-chart {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.tsg-chart-header {
  position: sticky;
  top: 0;
}

.tsg-chart-header-bg {
  fill: var(--tsg-header-color);
  stroke-width: var(--tsg-gridlines-width);
  stroke: var(--tsg-border-color);
}

.tsg-chart-header-text {
  font-family: var(--tsg-font-family);
  font-size: var(--tsg-font-size);
  font-weight: bold;
}

.tsg-chart-header-gl,
.tsg-chart-body-gl {  
  stroke-width: var(--tsg-gridlines-width);
  stroke: var(--tsg-border-color);
  shape-rendering: crispEdges;
}
.tsg-chart-body-gl.today {  
  stroke-width: calc(var(--tsg-gridlines-width) + 2px);
  stroke: var(--tsg-today-line-color);
}

.tsg-chart-body-bg {
  fill: transparent;
}

.tsg-chart-row-bg {
  fill: var(--tsg-background-color);
}
.tsg-chart-row-bg.selected {
  fill: var(--tsg-selection-color);
}

.tsg-chart-row {
  fill: transparent;
}

.tsg-chart-bar-planned {
  fill: var(--tsg-chart-bar-color-1);
  stroke: var(--tsg-chart-bar-color-1);
  stroke-width: var(--tsg-bar-stroke-width);
}
.selected .tsg-chart-bar-planned {
  stroke: var(--tsg-chart-bar-accent-1);
}
.tsg-chart-bar-planned-progress {
  fill: var(--tsg-chart-bar-accent-1);
  stroke: var(--tsg-chart-bar-accent-1);
  stroke-width: var(--tsg-bar-stroke-width);
}

.tsg-chart-bar-actual {
  fill: var(--tsg-chart-bar-color-2);
  stroke: var(--tsg-chart-bar-color-2);
  stroke-width: var(--tsg-bar-stroke-width);
}
.selected .tsg-chart-bar-actual {
  stroke: var(--tsg-chart-bar-accent-2);
}
.tsg-chart-bar-actual-progress {
  fill: var(--tsg-chart-bar-accent-2);
  stroke: var(--tsg-chart-bar-accent-2);
  stroke-width: var(--tsg-bar-stroke-width);
}
